<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Confirmation</servlet-name>
    <servlet-class>servlet.Confirmation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reminder</servlet-name>
    <servlet-class>servlet.Reminder</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reset</servlet-name>
    <servlet-class>servlet.Reset</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Confirmation</servlet-name>
    <url-pattern>/servlet/Confirmation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reminder</servlet-name>
    <url-pattern>/servlet/Reminder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/servlet/Reset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/servlet/Delete</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>
